* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #33353c;
}

body {
  font-family: "Biaodian Pro Sans GB", "Helvetica Neue", Helvetica, Arial,
    "pingfang sc", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", STHeiti,
    SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

:active,
:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.4;
}

.d-table {
  display: table;
  width: 100%;
}

.d-lf {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}

.d-rt {
  display: table-cell;
  text-align: right;
  vertical-align: top;
}

.d-ct {
  display: table-cell;
  text-align: center;
}

.hide {
  display: none !important;
}

.v-hide {
  visibility: hidden;
}

.loadmore {
  text-align: center;
  padding: 10px 0;
}

.loadmore .fa-spin {
  display: inline-block;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.btn {
  position: relative;
  display: inline-block;
  min-width: 48px;
  line-height: 1.25;
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  vertical-align: middle;
}

.btn--block {
  display: block;
  width: 100%;
}

.btn--primary {
  color: #fff;
  background-color: #1369bf;
  border: 1px solid #1369bf;
}

.btn--danger {
  color: #fff;
  background: #dc3545;
  border: 1px solid #dc3545;
}

.btn--light {
  background-color: #e6f1fb;
  border: 1px solid #e6f1fb;
  color: #07d;
}

.btn--primary:hover {
  background-color: #07d;
  border: 1px solid #07d;
}

.btn--text {
  border: 0;
  background: none;
  color: #909499;
}

.btn-lg {
  min-width: 64px;
  padding-top: 5.5px;
  padding-bottom: 5.5px;
}

.btn .load {
  display: none;
  position: absolute;
  right: 5px;
  width: 16px;
}

.btn--loading {
  pointer-events: none;
  opacity: 0.65;
}

.btn--loading .load {
  display: inline-block;
}

.btn--primary .load {
  color: #fff;
}

span {
  color: inherit;
}

a .iconfont {
  font-size: inherit;
  margin-right: 2px;
  color: inherit;
}

.site-logo,
.link,
.link--white {
  user-select: none;
}

.site-logo {
  position: absolute;
  top: -16px;
}

.link {
  color: #33353c;
}

.link--white {
  color: #fff;
}

.link:hover {
  color: #1369bf;
}

/* tab control start */
.tab__nav__item {
  user-select: none;
  color: #33353c;
}

.tab__content__pane {
  display: none;
}

.show {
  display: block;
}

/* control end */

/* tab theme start */
.tab__theme--main .tab__nav__item {
  display: inline-block;
  padding-bottom: 7px;
  min-width: 70px;
  text-align: center;
  font-size: 15px;
  color: #33353c;
}

.tab__theme--main .active {
  border-bottom: 2px solid #06c;
  color: #06c;
}

.tab__theme--main .tab__navs {
  border-bottom: 1px solid #edf0f5;
}

/* ------ */
.tab__theme--tag .tab__navs {
  margin-top: 20px;
  margin-bottom: 15px;
}

.tab__theme--tag .tab__nav__item {
  display: inline-block;
  line-height: 24px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 13px;
  border-radius: 2px;
}

.tab__theme--tag .active {
  color: #06c;
  background-color: #e6f1fb;
}

/* tab theme end */

/* panel start */
.panel {
  border: 1px solid #edf0f5;
}

.panel__hd {
  border: 0;
  background: #f9f9f9;
  border-bottom: 1px solid #edf0f5;
  font-size: 13px;
}

.panel__bd {
  padding: 8px 0;
}
/* panel end */

/* list start */
.list {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.list__hd {
  display: block;
  padding: 6px 15px;
  color: #666c72;
  background-color: #f9f9f9;
}

.list__item {
  min-width: 130px;
  display: block;
  color: #33353c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__item .iconfont {
  color: #888e94;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: bold;
}

.list__item .iconfont + span {
  vertical-align: middle;
}

.list-theme--bg .list__item {
  padding: 6px 15px;
}

.list-theme--bg .list__item:hover,
.list-theme--bg .active {
  background-color: #edf0f5;
}

.list-theme--text .list__item {
  padding: 8px 10px;
}

.list-theme--text .list__item:hover,
.list-theme--text .active {
  color: #07d;
}

/* list end */

/* nav start */
.nav {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #1369bf;
  color: #fff;
}

.nav--fixed {
  position: fixed;
}

.nav__link--white:hover {
  color: #fff;
}

.nav__container {
  display: table;
  height: 58px;
  width: 768px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.nav .site-logo img {
  width: 101px;
}

.nav__logo-wrap {
  display: inline-block;
  position: relative;
  width: 101px;
}

.nav__lf,
.nav__rt,
.nav__middle {
  display: table-cell;
  vertical-align: middle;
}

.nav__lf {
  text-align: left;
}

.nav__rt {
  text-align: right;
}

.nav__search {
  vertical-align: middle;
  position: relative;
  z-index: 100;
  display: table;
  border-collapse: separate;
  width: 200px;
  padding: 5.5px 15px;
  font-size: 13px;
  background-color: #fff;
  border-radius: 32px;
}

.nav__search input {
  display: table-cell;
  width: 100%;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  border: 0;
}

.nav__search__addon {
  display: table-cell;
  width: 1%;
  text-align: right;
  vertical-align: middle;
}

.nav__search__addon button {
  outline: 0;
  border: 0;
  background-color: #fff;
  line-height: 1;
  font-size: 15px;
  color: #4471bc;
  cursor: pointer;
}

.nav .dropdown__menu {
  top: 45px;
}

.nav__menu {
  display: inline-block;
  margin-right: 24px;
  margin-left: 12px;
}

.nav__menu__item {
  position: relative;
  z-index: 11;
  display: inline-block;
  padding: 8px 11px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
/* nav end */

/* dropdown start */
.dropdown {
  position: relative;
}

.dropdown__menu {
  display: none;
  position: absolute;
}

.dropdown .show {
  display: block;
}

.nav .dropdown {
  display: inline-block;
}

.nav .notice {
  width: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  font-weight: bolder;
}

.nav__btn--longtext {
  display: inline-block;
  width: 54px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 30px;
}

/* dropdown end */

/* timeline start */
.avatar {
  display: inline-block;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 1;
}

img.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  vertical-align: middle;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-sm {
  width: 32px;
  height: 32px;
}

.timeline__item {
  border-bottom: 1px solid #edf0f5;
  padding: 15px 0 5px;
  position: relative;
}

.timeline__item:last-child {
  border: 0;
}

.timeline__item__hd {
  display: table;
  margin-bottom: 6px;
}

.timeline__item__hd .avatar-wrap,
.timeline__item__info {
  display: table-cell;
  vertical-align: top;
}

.timeline__item__hd .avatar-wrap {
  padding-right: 10px;
}

.timeline__item__forward__title,
.timeline__item__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.timeline__item__content--longtext:hover {
  background-color: #f9f9f9;
  outline: 5px solid #f9f9f9;
}

.timeline__item__content--longtext {
  cursor: pointer;
}

.timeline__item__info .nickname {
  font-size: 15px;
  font-weight: 700;
}

.timeline__item__info .nickname-wrap {
  margin-bottom: 7px;
  margin-top: 2px;
}

.timeline__item__info .date {
  font-size: 13px;
  color: #666c72;
}

.timeline__item__info .date:hover {
  color: #33353c;
}

.timeline__item__bd {
  margin-left: 58px;
}

.timeline__item__content .content,
.timeline__item__forward .content {
  margin-top: 7px;
  line-height: 1.6;
  word-break: break-all;
  color: #33353c;
  font-size: 15px;
}

.timeline__item__forward .content {
  font-size: 14px;
}

.timeline__item__content .content--description > div,
.timeline__item__forward .content--description > div {
  display: inline;
  word-break: break-word;
}

.timeline__item__content .content a,
.timeline__item__forward .content a,
.timeline__unfold__control {
  color: #06c;
  margin: 0 2px;
}

.timeline__item__content .content a:hover,
.timeline__item__forward .content a:hover,
.timeline__unfold__control:hover {
  color: #07d;
}

.timeline__expand__control,
.timeline__unfold__control {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 15px;
}

.timeline__unfold__control {
  position: absolute;
  right: 0;
  bottom: 0;
}

.timeline__item__control .iconfont,
.timeline__item__control span {
  vertical-align: middle;
}

.timeline__item__ft {
  margin-top: 10px;
  color: #666c72;
  font-size: 13px;
}

.timeline__item__ft .active .iconfont,
.comment__item__ft .active .iconfont {
  color: #f70;
  font-weight: bold;
}

.comment__mod > h3 {
  margin: 15px 0 10px;
  font-size: 15px;
}

.timeline__item__control {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #666c72;
  margin-right: 24px;
  line-height: 1.2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.timeline__item__control:after {
  position: absolute;
  content: "";
  right: -12px;
  top: 2px;
  height: 14px;
  width: 1px;
  background-color: #dadee5;
}

.timeline__item__control:last-child:after,
.talk__item__control:last-child:after,
.comment__item__control:last-child:after {
  display: none;
}

.timeline__item__forward {
  position: relative;
  display: block;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
}

.timeline__item__forward:hover {
  background: #f1f1f1;
}

.timeline__item__content + .timeline__item__forward,
.timeline__item__content + .timeline__item__quote {
  margin-top: 10px;
}

.timeline__item__forward__hd {
  margin-bottom: 8px;
}

.timeline__item__forward__hd .avatar-sm {
  width: 20px;
  height: 20px;
}

.timeline__item__forward__hd .nickname {
  font-size: 14px;
  font-weight: 700;
  margin-left: 6px;
  vertical-align: middle;
}

.timeline__item__forward__ft {
  margin-top: 10px;
  font-size: 12px;
  color: #666c72;
}

.timeline__item__comment {
  display: none;
}

.timeline__item__bd > .active {
  display: block;
}

.content__addition img {
  max-width: 90%;
  cursor: pointer;
}

.content__addition .img-thumb {
  max-height: 160px;
}
/* timeline end */

/* talks start */
.talk__item,
.comment__item {
  padding: 15px 0 10px;
  border-top: 1px solid #edf0f5;
}

.talk__item__wrap,
.comment__item__wrap {
  display: table;
  width: 100%;
}

.comment__item__reply {
  padding: 10px 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 0;
  margin-left: 0;
  line-height: 1.6;
  background: #f9f9f9;
  font-size: 14px;
}

.comment__item__reply .nickname {
  font-weight: 700;
  margin-right: 2px;
}

.comment__item__reply .user-name,
.comment__item__reply > div {
  display: inline;
}

.talk__item .avatar-wrap,
.talk__item .talk__item__main,
.comment__item .avatar-wrap,
.comment__item .comment__item__main {
  display: table-cell;
  vertical-align: top;
}

.talk__item .avatar-wrap,
.comment__item .avatar-wrap {
  padding-right: 10px;
  width: 32px;
}

.talk__item__main__hd,
.comment__item__main__hd {
  margin-bottom: 4px;
}

.talk__item__main__hd .nickname,
.comment__item__main__hd .nickname {
  font-size: 15px;
  font-weight: 700;
  margin-right: 0;
}

.talk__item__main__hd span.reply,
.comment__item__main__hd span.reply {
  margin-right: 10px;
  font-size: 16px;
}

.talk__item__main__bd,
.comment__item__main__bd {
  font-size: 15px;
  line-height: 1.6;
  word-break: break-all;
  overflow: hidden;
}

.talk__item__main__hd .time,
.comment__item__main__hd .time {
  font-size: 12px;
  color: #909499;
  float: right;
}

.talk__item__ft,
.comment__item__ft {
  margin-top: 5px;
  margin-left: 42px;
  text-align: left;
}

.talk__item__control,
.comment__item__control {
  position: relative;
  display: inline-block;
  margin-right: 26px;
  color: #909499;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
}

.talk__item__control:after,
.comment__item__control:after {
  position: absolute;
  content: "";
  right: -12px;
  top: 0px;
  height: 14px;
  width: 1px;
  background-color: #dadee5;
}
/* talks end */

@media (max-width: 768px) {
  .nav,
  .nav__container {
    width: 100% !important;
  }

  .main {
    padding: 0 20px;
    width: 100% !important;
  }

  .main__contents {
    width: 100% !important;
  }
}

/* editor start */
#kbb-editor__form--image {
  display: none;
}

.editor__text {
  min-height: 70px;
}

.editor__menu {
  border-top: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  user-select: none;
}

.editor__menu__item {
  padding: 5px 10px;
  min-width: 20px;
  background: #fff;
  border: 0;
  color: #888e94;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.editor__menu__item:hover,
.editor__menu > .active {
  background: #ebf2fd;
  color: #06c;
}

.editor__menu > .active i {
  color: #06c;
}

.editor__text__img {
  max-width: 80%;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

.editor__text {
  min-height: 300px;
  outline: 0;
  margin-top: 24px;
  line-height: 1.5;
  color: #33353c;
}

.editor__mention {
  position: absolute;
  background: #fff;
  z-index: 1001;
}

.lite-editor {
  display: table;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

.timeline__item__comment .lite-editor--comment {
  margin-top: 5px;
}

.lite-editor--post .toolbar__forward {
  display: none;
}

.lite-editor--forward .btn--longtext,
.lite-editor--forward .lite-editor__toolbar__split,
.lite-editor--forward .toolbar__forward {
  display: none;
}

.lite-editor--forward {
  min-width: 300px;
}

.lite-editor__meta,
.lite-editor__body {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.lite-editor__meta {
  width: 58px;
}

.lite-editor--comment .lite-editor__meta {
  width: 40px;
}

.lite-editor--comment .avatar {
  width: 32px;
  height: 32px;
}

.lite-editor__textarea {
  position: relative;
  border: 1px solid #edf0f5;
  font-size: 13px;
  line-height: 1.6;
  background-color: #fff;
  min-height: 48px;
}

.lite-editor--comment .lite-editor__textarea {
  min-height: 30px;
}

.lite-editor--comment .btn--longtext,
.lite-editor--comment .lite-editor__toolbar__split {
  display: none;
}

.lite-editor__textarea .textarea {
  padding: 5px 10px;
  min-height: 74px;
  max-height: 330px;
  overflow-y: auto;
  border: 0;
  max-width: 540px;
}

.lite-editor__textarea .fake-placeholder {
  padding: 5px 10px;
  color: #d4d7dc;
  min-height: 30px;
  cursor: pointer;
}

.lite-editor--post .fake-placeholder {
  min-height: 48px;
}

.lite-editor__toolbar {
  margin-top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: table;
  width: 100%;
}

.lite-editor__toolbar__btn {
  display: inline-block;
  color: #666c72;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
}

.lite-editor__toolbar__btn.last {
  margin-right: 0;
}

.lite-editor__toolbar__split {
  display: inline-block;
  width: 1px;
  height: 14px;
  margin: 0 14px;
  vertical-align: middle;
  background-color: #edf0f5;
}

.lite-editor__toolbar__checkbox {
  font-size: 12px;
  color: #909499;
  margin-right: 10px;
}

.lite-editor__toolbar__checkbox input {
  margin-right: 5px;
}

svg:not(:root) {
  overflow: hidden;
}

.lite-editor__triangle {
  position: absolute;
  top: 10px;
  left: -5px;
  width: 5px;
  height: 10px;
  z-index: 11;
}

.lite-editor__triangle .arrow {
  stroke: #edf0f5;
  fill: #f9fcfe;
}

.lite-editor__toolbar__edit {
  display: table-cell;
  text-align: left;
}

.lite-editor__toolbar__post {
  display: table-cell;
  text-align: right;
}
/* editor end */

/* form start */

.form-group {
  display: flex;
  border: 1px solid #edf0f5;
  margin-bottom: 20px;
  padding: 0 12px;
}

.form-group--text .form-group__item {
  display: inline-block;
  line-height: 40px;
  padding-left: 17px;
}

.form-group__item,
.form-group__addon {
}

.form-group__addon {
  line-height: 40px;
  font-size: 15px;
}

.form-group__addon a {
  display: inline-block;
  margin: 0 8px;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 13px;
  color: #fff;
  background-color: #1369bf;
}

.form-group input {
  padding: 11px 0 11px 17px;
  border: 0;
  font-size: 15px;
  flex: 1;
}

.form-group select {
  border: 0;
  background: #fff;
  flex: 1;
  font-size: 14px;
  width: 1px;
}

.form-group:last-child {
  margin-bottom: 0;
}

/* form end */

/* modal start */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: table;
  transition: opacity 0.3s ease;
}

.no-mask {
  position: absolute;
  width: auto;
  height: auto;
  background: none;
}

.no-close .modal__close {
  display: none;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modal-container {
  position: relative;
  text-align: left;
  min-width: 300px;
  min-height: 160px;
  margin: 0px auto;
  background-color: #fff;
  display: inline-block;
  box-shadow: 0 2px 4px 0 #666;
}

.modal__hd {
  min-height: 36px;
  padding: 20px 20px 15px;
  font-size: 18px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.auth__mod {
  padding: 20px 40px 30px;
  width: 450px;
}

.auth__mod__submit {
  margin: 30px 0 0;
  padding: 13px 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: #06c;
}

.auth__control {
  display: table;
  width: 100%;
  border-bottom: 1px solid #edf0f5;
}

.auth__control .title {
  display: inline-block;
  font-size: 15px;
  padding: 0 4px 4px;
  margin-right: 20px;
}

.auth__control__rt {
  vertical-align: top;
  font-size: 13px;
  color: #909499;
}

.auth__control__rt a:hover {
  color: #07d;
}

.auth__form {
  padding-top: 20px;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* modal end */

/* tooltip start */
.tooltip__container {
  padding: 15px 20px;
}

.tooltip__main {
  color: #666c72;
  font-size: 15px;
  position: relative;
  background-color: #fff;
}

.tooltip__main h5 {
  margin: 0 0 5px;
  font-weight: 700;
  font-size: 15px;
}

.tooltip__main .nickname {
  color: #33353c;
}

.tooltip__info {
  font-size: 12px;
  color: #909499;
  width: 202px;
}

.tooltip__ft--middle {
  text-align: center;
}

.tooltip__ft {
  margin-top: 40px;
  border-top: 1px solid #edf0f5;
  padding-top: 10px;
}

.tooltip__avatar {
  position: absolute;
  top: 0;
  right: 0;
}
/* tooltip end */
